# Local dev secrets template. Copy to `.env` and edit as needed.
DB_PASSWORD=rootroot
S3_SECRET_KEY=rootroot
KEYCLOAK_ADMIN_PASSWORD=rootroot
KC_USER_ADMIN_PASSWORD=rootroot
KC_USER_EDITOR_PASSWORD=rootroot
KC_USER_REVIEWER_PASSWORD=rootroot
KC_USER_AUTHOR_PASSWORD=rootroot
