NEXT_PUBLIC_API_BASE_URL=http://localhost:8080
NEXT_PUBLIC_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_EDITORIAL_APP_URL=http://localhost:5173
NEXT_PUBLIC_JOURNAL_NAME=The Academic Journal
NEXT_PUBLIC_JOURNAL_ISSN=2069-3417
NEXT_PUBLIC_KEYCLOAK_ISSUER=http://localhost:8081/realms/academic-journal
NEXT_PUBLIC_KEYCLOAK_CLIENT_ID=aj-spa
