VITE_API_BASE_URL=http://localhost:8080
VITE_KEYCLOAK_ISSUER=http://localhost:8081/realms/academic-journal
VITE_KEYCLOAK_CLIENT_ID=aj-spa
VITE_EDITORIAL_BASE_URL=http://localhost:5173
VITE_PUBLIC_SITE_URL=http://localhost:3000
VITE_JOURNAL_NAME=The Academic Journal
VITE_JOURNAL_ISSN=2069-3417
